.page {
  min-width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}

.card {
  margin: 50px;
  padding: 25px;
  box-shadow: 12px 12px 0px 0px rgba(0, 0, 0, 0.55);
  outline: 2px solid black;
  min-height: 800px;
  width: 600px;
  text-overflow: clip;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .card {
    min-height: 600px;
    width: 400px;
  }
}

.button {
  width: 200px;
  height: 50px;
  outline: none;
  margin: 20px;
  border: 2px solid black;
  background: none;
  font-family: "Merriweather", sans-serif;
  cursor: pointer;
}

.button_error {
  width: 200px;
  height: 50px;
  margin: 20px;
  outline: none;
  border: 2px solid red;
  background: none;
  font-family: "Merriweather", sans-serif;
  cursor: pointer;
}

.error {
  color: red;
}
