.page {
  min-width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  margin: 50px;
  padding: 25px;
  box-shadow: 12px 12px 0px 0px rgba(0, 0, 0, 0.55);
  outline: 2px solid black;
  min-height: 800px;
  width: 600px;
  text-overflow: clip;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media screen and (max-width: 1024px) {
  .card {
    min-height: 600px;
    width: 400px;
  }
}
