.page {
  min-width: 100vw;
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  margin: 50px;
  padding: 25px;
  box-shadow: 12px 12px 0px 0px rgba(0, 0, 0, 0.55);
  outline: 2px solid black;
  min-height: 800px;
  width: 600px;
  text-overflow: clip;
}

.close-arrow {
  position: absolute;
  top: 75px;
  right: 0;
  margin: 20px;
}

.open-arrow {
  position: absolute;
  left: 20px;
  top: 100px;
}

@media screen and (max-width: 1024px) {
  .card {
    min-height: 600px;
    width: 400px;
  }
}
