.article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.text {
  padding: 20px;
  width: 100%;
  font-size: 32px;
  font-family: "Merriweather", sans-serif;
}

.small-text {
  font-size: 16px;
}

.title {
  font-size: 48px;
}

.author {
  color: black;
  font-size: 24px;
}

.preview-text {
  font-family: "Merriweather", sans-serif;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.75);
}

.line {
  word-break: normal;
}
