.piece {
  background-color: white;
  border: 5px solid rgba(0, 0, 0, 0.83);

  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;

  width: 250px;
  max-width: 250px;
  max-height: 300px;

  filter: drop-shadow(10px 5px 4px rgba(0, 0, 0, 0.5));
  text-overflow: ellipsis;
}

.piece h1 {
  font-size: 2rem;
  text-decoration: underline;
}

.piece h2 {
  font-size: 2rem;
}

.piece h1,
.piece h2 {
  color: rgba(0, 0, 0, 0.83);
}

.link-style {
  text-decoration: none;
}

.heart-button {
  outline: none;
  border: none;
  border-radius: 100px;
  padding: 5px;
  padding-bottom: 1px;
  background-color: white;

  position: absolute;
  bottom: 10px;
  left: 10px;
}

.selected-icon {
  color: red;
}
