.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 20px;
  width: 80vw;

  justify-content: center;
  justify-items: center;
}

.warning {
  height: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  width: 200px;
  height: 50px;
  background: none;
  outline: 3px solid black;
  border: none;

  margin: 20px;
  cursor: pointer;
}
