.piece-section {
  min-height: 80vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.toolbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #191919;
  border-radius: 10px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.icon {
  margin: 10px;
}

.liked {
  color: red;
  cursor: pointer;
}

.not-liked {
  color: black;
  cursor: pointer;
}

.like-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform: translateY(10px);
}

.flagged {
  color: goldenrod;
  cursor: pointer;
}

.not-flagged {
  color: black;
  cursor: pointer;
}
